<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lxchild.mobileclass">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.lxchild.appStart.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lxchild.appStart.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name="com.lxchild.appStart.IntroduceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.lxchild.signin.view.SignInActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.lxchild.search.view.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <service android:name="com.lxchild.appStart.InitializeService">
            <intent-filter>
                <action android:name="com.lxchild.mobileclass.service.action.INIT"/>
            </intent-filter>
        </service>

        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService"/>

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->
        <!-- 反馈组件（需要加入以下声明）START -->
        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity">
        </activity>
        <!-- 反馈组件 END -->

        <activity android:name="com.lxchild.mine.MineDetailActivity">
        </activity>
        <activity android:name="com.lxchild.mine.RequestAccessActivity">
        </activity>
        <activity android:name="com.lxchild.classTest.singleChoice.view.SingleChoiceActivity">
        </activity>
        <activity android:name="com.lxchild.classTest.otherTopic.view.OtherTopicActivity">
        </activity>
        <activity android:name="com.lxchild.classTest.paperList.view.PaperListActivity">
        </activity>
        <activity android:name="com.lxchild.classTest.partList.PartListActivity">
        </activity>
    </application>

</manifest>